In [2]:
import pandas as pd
import numpy as np 
rankings = pd.read_csv('fifa_ranking.csv')
rankings.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [3]:
matches = pd.read_csv('results.csv')
matches.head()
#we only want to see games used for qualifying for 2018 world cup
dates=matches['date']>'2014'
matches2=matches[dates]
matches2=matches2.drop('neutral',axis=1)
matches2.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country
35595,2014-01-01,Kuwait,Jordan,1,2,WAFF Championship,Doha,Qatar
35596,2014-01-04,Bahrain,Jordan,0,1,WAFF Championship,Doha,Qatar
35597,2014-01-04,Namibia,Ghana,0,1,Friendly,Windhoek,Namibia
35598,2014-01-04,Nigeria,Ethiopia,2,1,Friendly,Abuja,Nigeria
35599,2014-01-04,Qatar,Kuwait,3,0,WAFF Championship,Doha,Qatar

In [18]:
lengthMatches=len(matches2)
winner=[]
np.where(matches2['home_score'] > matches2['away_score'],winner.append(matches2['home_team']),
        (np.where(matches2['home_score'] < matches2['away_score'],winner.append(matches2['away_team']),winner.append('Draw'))))
###for i in range (len(matches2['home_score'])):
#    if matches2[i]['home_score'] > matches2[i]['away_score']:
#        winner.append(matches2['home_team'][i])
#    elif matches2['home_score'][i] < matches2['away_score'][i]:
#        winner.append(matches2['away_team'][i])
#    else:
#        winner.append('Draw')
len(winner )

3